# Node modules
node_modules/

# Distribution files
dist/

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db
