# Node modules
node_modules/

# Distribution files
dist/

# Environment variables
.env

#Webhook for the Raspberry Pi 
/home/jonne/Programme/KIAgentenPyCharming/webhook_listener.py

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db
