  /* Stil des Nachrichtenbereichs */
  #chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin: 15px 0;
  }

  /* Stil für Eingabebereich */
  #chat-input-container {
    display: flex;
    border-top: 1px solid #2F6AA0;
    position: relative;
    padding-top: 2px; /* Erhöht den Abstand zwischen der Trennlinie und dem Eingabefeld */
    max-height: 200px; /* Begrenzt das Wachstum auf die Höhe von etwa 6-8 Zeilen */
    overflow: auto;
    flex-direction: column; /* Stack the elements vertically */
    }


  /* Stil für das Eingabefeld */
  #chat-input {
    height: 42px; /* Initial height */
    min-height: 42px; /* Minimum height */
    max-height: 200px; /* Maximum height before scrolling */
    overflow-y: auto; /* Allows scrolling when content exceeds max height */
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #2F6AA0;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    resize: none;
    padding-right: 50px; /* Add right padding to prevent text from overlapping the send button */
  }

  /* CSS for growing the input field vertically */
textarea#chat-input {
  min-height: 42px; /* Minimum height */
  max-height: 150px; /* Maximum height before scrolling */
  overflow-y: auto; /* Allow scrolling when content exceeds max height */
}

  /* Stil für den Senden-Button */
  #chat-send {
    width: 28px; /* Quadratische Größe */
    height: 28px; /* Quadratische Größe */
    background-color: #2F6AA0;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 7px;
    transform: translate(0, 0); /* Zentrierung nicht notwendig, da bottom verwendet wird */
    justify-content: center;
    padding: 0; /* Remove padding to let the flexbox centering take effect */
    display: flex;
    align-items: center;
  }

    /* Added styles for the send icon for better scalability */
    .send-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #chat-container {
    width: 100%; /* Vollständige Breite innerhalb des umschließenden Elements */
    max-width: 900px; /* Maximalbreite für größere Bildschirme anpassen */
    height: 90vh; /* Feste Höhe des Chat-Fensters */
    margin: 0 auto; /* Zentriert den Container mit Abstand oben und unten */
      margin-right: 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px d10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    min-height: 86.2vh; /* Mindesthöhe für das Chat-Fenster */
    max-height: 86.2vh; /* Maximalhöhe basierend auf dem Viewport */
    padding: 20px; /* erhöhtes Padding für den gesamten Container */
    border: 1px solid #2F6AA0;
      background-repeat: repeat-y;


    }






    /* Stil des Kopfbereichs */
    #chat-header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #2F6AA0;
    color: white;
    justify-content: flex-start; /* Ändert die Ausrichtung auf Anfang */
    border-radius: 8px;
    }

  #chat-title {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px; /* Abstand zum Profilbild */
  }
 .dropbtn {
  color: white;
  background-color: #2F6AA0;border: none;
  border-radius: 8px;
  padding: 5px 15px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

  /* Stil für das Profilbild */
  .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px; /* Abstand zwischen Profilbild und Name */
  }
  .button-container {
display: flex;
position: absolute;
top: 10px;
right: 10px;
}

#downloadButton {
background-color: #2F6AA0; /* Blue background */
color: white; /* White text */
border: none; /* Remove default border */
border-radius: 8px; /* Rounded edges */
padding: 10px 15px; /* Padding around the text */
font-size: 1em; /* Adjust text size as needed */
cursor: pointer; /* Change cursor to pointer when hovering over the button */
text-decoration: none; /* Remove underline */
margin-right: 10px; /* Space to the next button */
}

  #chat-input:focus {
  outline: none; /* Removes the blue outline */
  border: 2px solid #2F6AA0; /* Adds a border color on focus for a visual cue */
}
  /* Added animations for chat messages */
  @keyframes slideIn {
  from {
  opacity: 0;
  transform: translateY(10px);
  }
  to {
  opacity: 1;
  transform: translateY(0);
  }
  }

  .chat-message {
  max-width: calc(100% - 50px); /* Maximale Breite der Nachrichtenblasen */
  word-wrap: break-word; /* Stellt sicher, dass lange Wörter umgebrochen werden */
  animation: slideIn 0.3s ease-out; /* New message animation */
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Abstand zwischen Nachrichten */
  padding: 10px; /* Polsterung innerhalb der Nachrichtenblase */
  border-radius: 8px; /* Abgerundete Ecken für Nachrichtenblasen */
  }

  #chat-send:hover {
  background-color: #a85d4b;
  }

  .chat-message.incoming {
  flex-direction: row; /* Profilbild auf der linken Seite */
  background-color: white;
  color: #103948; /* Text */
  }

  .chat-message.outgoing {
  flex-direction: row; /* Profilbild auf der linken Seite */
  background-color: white;
  color: #103948; /* Text */

  }

.chat-message.outgoing .profile-pic {
margin-left: 10px; /* Space between profile picture and name */
}

.chat-message.outgoing .sender-name {
font-weight: bold;
}

  .sender-name {
  margin-right: 10px; /* Abstand zwischen Name und Nachrichtentext */
  font-weight: bold;
  }


  /* Stil für den Senden-Button */
  #chat-send {
  background-color: #2F6AA0;
  color: white;
  border: none;
  border-radius: 6px; /* Leichte Rundung der Ecken */
  padding: 10px 15px;
  cursor: pointer;
  }

  /* Improved quick reply styles */
  .quick-replies {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  }

  .quick-reply-button {
  background-color: #2F6AA0;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
  }

  .quick-reply-button:hover {
  background-color: #a85d4b;
  }


  @media (max-width: 600px) {
  #chat-container {
  /* Anpassungen für die Höhe auf kleineren Geräten */
  max-height: 70vh;
  }
  }

  /* Container für den Nachrichteninhalt, um Profilbild, Name und Text zu umfassen */
  .message-content {
  display: flex;
  align-items: center;
  }

  .message-text {
  flex-grow: 1; /* Lässt den Text den verfügbaren Raum ausfüllen */
  }
  #parent-container {
display: flex;
margin-top:70px; /* Adjust this value to increase or decrease the space above the boxes */
position: relative; /* This is needed to position the pseudo-element correctly */

}
  #parent-container::before {
content: "";
position: absolute;
top: -10px; /* Position the line above the boxes */
left: 0;
right: 0;
height: 1px; /* Adjust this value to increase or decrease the thickness of the line */
background-color: #2F6AA0; /* Change this to the color you want for the line */
}

#new-box {
/* Adjust the width, height, and other styles as needed */
width: 50%; /* This will make the new box take up half of the parent container's width */
height: 90vh; /* This will make the new box take up the full height of the viewport */
background-color: #ffffff;
display: flex; /* Added */
justify-content: center; /* Added */
align-items: center; /* Added */
border: 1px solid #2F6AA0; /* Border around the new box, same color as the chat box */
border-radius: 8px; /* Same round edges as the chat box */
}

#chat-container {
width: 50%; /* This will make the chat container take up half of the parent container's width */
}

.upload-btn-wrapper {
display: flex; /* Added */
justify-content: center; /* Added */
align-items: center; /* Added */
}