<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div id="parent-container">
    <div id="chat-container">
        <div id="chat-header">
            <img src="static/images/Chat-bot-profilbild.jpg" class="profile-pic" alt="Chat-bot">
            <span id="chat-title">Hallo, ich bin ein Chatbot!</span>
        </div>
        <div id="chat-messages" role="log" aria-live="polite"></div>
        <div id="chat-input-container">
            <textarea id="chat-input" aria-label="Schreiben Sie eine Nachricht"
                      placeholder="Schreiben Sie eine Nachricht..."></textarea>
            <button id="chat-send">
                <span class="send-icon">➤</span>
            </button>
        </div>
    </div>
    <div id="new-box">
        <div class="upload-btn-wrapper">
            <label for="myfile">Choose a file:</label>
            <input type="file" id="myfile" name="myfile"/>
        </div>
    </div>
</div>

<div class="button-container">
    <button id="remove-pdf" style="display: none;">Remove PDF</button>
    <button id="downloadButton">Download JSON</button>
    <div class="dropdown">
        <button class="dropbtn">Chat-GPT Version auswählen</button>
        <div class="dropdown-content">
            <a href="#" data-model="intel-neural-chat-7b">intel-neural-chat-7b</a>
            <a href="#" data-model="mixtral-8x7b-instruct">mixtral-8x7b-instruct</a>
            <a href="#" data-model="qwen1.5-72b-chat">qwen1.5-72b-chat</a>
            <a href="#" data-model="meta-llama-3-70b-instruct">meta-llama-3-70b-instruct</a>
        </div>        
    </div>
</div>

<!-- JavaScript -->
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script src="static/js/chat.js"></script>
<script>
    document.getElementById('downloadButton').addEventListener('click', function () {
        const data = {"key": "value"}; // Ersetze dies durch deine tatsächlichen Daten
        const jsonStr = JSON.stringify(data);
        const element = document.createElement('a');
        element.setAttribute('href', 'data:text/json;charset=utf-8,' + encodeURIComponent(jsonStr));
        element.setAttribute('download', 'data.json');
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    });
        document.getElementById('remove-pdf').addEventListener('click', function() {
        // Clear the content of the new-box div
        var pdfContainer = document.getElementById('new-box');
        pdfContainer.innerHTML = '';

        // returns the file input to the new-box div
       var pdfContainer = document.getElementById('new-box');
    pdfContainer.innerHTML = `
        <div class="upload-btn-wrapper">
           <label for="myfile">Choose a file:</label>
            <input type="file" id="myfile" name="myfile"/>
        </div>
    `;

        // Hide the remove button

        var removeButton = document.getElementById('remove-pdf');
         removeButton.style.display = 'none';
    });
document.getElementById('new-box').addEventListener('change', function(event) {
    console.log('Change event triggered');
    if (event.target.id !== 'myfile') return;  // Only run if the event target is the file input
    console.log('File input changed');
    var file = event.target.files[0];  // Use event.target instead of this
    var formData = new FormData();
    formData.append('file', file);

    fetch('/upload', {
        method: 'POST',
        body: formData
    }).then(response => response.json())
      .then(data => {
        if (data.path) {
            var pdfContainer = document.getElementById('new-box');
            pdfContainer.innerHTML = ''; // Clear existing content

            var pdfFrame = document.createElement('iframe');
            pdfFrame.id = 'pdfFrame';
            pdfFrame.src = data.path; // Set the source of the iframe to the uploaded PDF file
            pdfFrame.style.width = '100%';
            pdfFrame.style.height = '600px'; // Adjust height as needed
            pdfContainer.appendChild(pdfFrame);

            // Show the remove button
            var removeButton = document.getElementById('remove-pdf');
            removeButton.style.display = 'block';


        } else {
            console.error('File upload failed');
        }
    }).catch(error => {
        console.error('Error:', error);
    });
});
</script>
</body>
</html>
